<div id="tanalyze" class="tab-pane fade">
	<img id="image" />
	<br />
	<input id="ex6" type="text" style="width: 640px" data-slider-min="1" data-slider-max="{{ frameCount }}" data-slider-step="1" data-slider-value="1" />
	<br />
	object 1 <span id="object_1">0,1</span><br />
	object 2 <span id="object_2">0,1</span><br />
	object 3 <span id="object_3">0,1</span><br />
	object 4 <span id="object_4">0,1</span><br />
	object 5 <span id="object_5">0,1</span><br />
	object 6 <span id="object_6">0,1</span><br />
	<div id="output"></div>
	<br />
	<br />
	<br />
</div>
