                <div id="tsettings" class="tab-pane fade">
<div class="row">
                                <div class="col-md-9">

                        <form class="form-horizontal" role="form">
                                <div class="form-group">
                                        <label for="height" class="col-sm-2 control-label">Brightness</label>
                                        <div class="col-sm-10">
                                            <input id="brightness" data-webcam="Brightness" class="webcam-control form-control" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="1" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="height" class="col-sm-2 control-label">Exposure</label>
                                        <div class="col-sm-10">
                                            <input id="exposure" data-webcam="Exposure (Absolute)" class="webcam-control form-control" type="text" data-slider-min="3" data-slider-max="2047" data-slider-step="1" data-slider-value="1" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="height" class="col-sm-2 control-label">Gain</label>
                                        <div class="col-sm-10">
                                            <input id="gain" data-webcam="Gain" class="webcam-control form-control" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="1" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="height" class="col-sm-2 control-label">Contrast</label>
                                        <div class="col-sm-10">
                                            <input id="contrast" data-webcam="Contrast" class="webcam-control form-control" type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="1" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="height" class="col-sm-2 control-label">Focus</label>
                                        <div class="col-sm-10">
                                            <input id="focus" data-webcam="Focus (absolute)" class="webcam-control form-control" type="text" data-slider-min="0" data-slider-max="250" data-slider-step="5" data-slider-value="1" />
                                        </div>
                                </div>



                                <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default">Save</button>
                                        </div>
                                </div>
                        </form>
                        </div>
                        <div class="col-md-3">
                                <canvas id="miniwebcam" width="{{ halfCamHeight }}" height="{{ halfCamHeight }}" style="width: 250px; height: 250px"></canvas>
                        </div>
</div>
                    </div>
                </div>
