
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<div class="container">
<div class="tab-content">

<div id="tanalsettings" class="tab-pane fade">


<div class="row">
<div class="col-md-8">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                <h3 class="panel-title"><a data-toggle="collapse" data-target="#modules">Modules</a></h3>
                                        </div>
                                        <div id="modules" class="panel-collapse collapse in">
                                                <div class="panel-body">

{{#analysis.modules}}
<div class="col-md-6">
  <li>{{name}}</li>
</div>

{{/analysis.modules}}
						</div>
					</div>
				</div>
</div>
<div class="col-md-4">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                <h3 class="panel-title"><a data-toggle="collapse" data-target="#params">Parameters</a></h3>
                                        </div>
                                        <div id="params" class="panel-collapse collapse in">
                                                <div class="panel-body">

{{#analysis.parameters}}

                                                                <div class="form-group">
                                                                        <label for="height" class="control-label">{{name}}</label>

									<div class="input-group">
                                                                          <input id="{{name}}"  class="form-control input-sm" type="text" />
									  <span class="input-group-addon">{{units}}</span>
									</div>

                                                                </div>

    
{{/analysis.parameters}}


						</div>
					</div>
				</div>
</div>
<div class="col-md-12">
                                <div class="panel">
                                        <div class="panel-collapse collapse in">
					    <div class="btn-group">
					        <a href="#" class="analyze  btn btn-success btn-lg">analyze</a>
					    </div>
					</div>
				</div>
</div>
</div>

</div>

<div id="tanaldata" class="tab-pane fade in active">

<div class="container">


                                <div class="panel panel-default">
                                        <div class="panel-heading">
<div class="btn-group pull-right">
    <a href="#" class="del btn btn-danger btn-xs">DELETE</a>
</div>

                                                <h3 class="panel-title"><a data-toggle="collapse" data-target="#sessions">Sessions</a></h3>


                                        </div>
                                        <div id="modules" class="panel-collapse collapse in">
                                                <div class="panel-body">

<div class="tree">
    <ul>
{{#experiments}}
        <li class="parent_li">
            <input class="exp" type="checkbox" /> <a href="#">{{_id}}</a>
<ul>
<li>
	    <table class="table">
<tr>
<th>&nbsp;</th>
<th>heat</th>
<th>date</th>
<th>exp. day</th>
<th>subject</th>
<th>person</th>
</tr>
		{{#sessions}}
                        <tr>
			    <td width=1><input data-session-id="{{id}}" type="checkbox" /></td>
			    <td width=1><a href="/heatmap/{{id}}.png"><img class="lazy" title="{{analyze.avg_distance}}
{{analyze.inputs}}
{{analyze.shocks}}
{{analyze.outside}}
{{analyze.path}}" width="48" height="48" data-original="/heatmap/{{id}}.png"></a></td>
			    <td>{{#czdate}}{{date}}{{/czdate}}</td>
			    <td>{{day}}</td>
<td>{{subject}}</td>
<td>{{person}}</td>
<td><a href="/export/{{id}}" class="export  btn btn-success btn-xs">export do CSV</a></td>
</tr>
			{{/sessions}}
            </table>
</li>
</ul>
         </li>
{{/experiments}}
</ul>
</div>
</div>
</div></div>
</div>
<script>

isNull = function (val, nul) {
    return val || nul;
}
var old;
accentsTidy = function(s){
    var r = s.toLowerCase();
    non_asciis = {'a': '[àáâãäå]', 'ae': 'æ', 'c': '[çč]', 'd': 'ď', 'e': '[èéêë]', 'i': '[ìíîï]', 'n': '[ñň]', 'o': '[òóôõö]', 'oe': 'œ', 'r': 'ř', 's': 'š', 't': 'ť', 'u': '[ùúûűü]', 'y': '[ýÿ]', 'z' : 'ž'};
    for (i in non_asciis) { r = r.replace(new RegExp(non_asciis[i], 'g'), i); }
    return r;
};

	$(document).ready(function() {

    $("img.lazy").lazyload();


  $('.tree input.exp').on('click', function(e) {


      var actual = $(this).prop('checked');
console.log('clicked', actual, $(this).parent());
      $('input', $(this).parent()).prop('checked', actual);

      e.stopPropagation();
  });

  $('.tree li.parent_li > a').on('click', function(e) {
console.log(e);
	if (old) old.hide('fast');
	var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) 
    	    children.hide('fast')
	else
    	    children.show('fast')
	old = children;
$("html,body").trigger("scroll");
    e.stopPropagation();
  });


		$(".analyze").click(function(e) {
		    var selected = [];
		    $('.tree li.parent_li li input:checked').each(function() {
		        selected.push($(this).data('session-id'));
		    });
		    var out = "?";
		    $('#params').find('input').each(function () {
			out += $(this).attr('id') + '=' + $(this).val() + "&";
		    });
			e.preventDefault();
			location.href = '/analyze/' + selected.join(',') + out;
		});

function download(filename, text) {
  var pom = document.createElement('a');
var url = "data:application/octet-stream;charset=utf-8,%EF%BB%BF" + encodeURIComponent(text);
  pom.setAttribute('href', url);
  pom.setAttribute('download', filename);
  pom.click();
}

		$(".csv").click(function(e) {
		    var selected = [];
		    $('.tree li.parent_li li input:checked').each(function() {
			var line = [];
			var i = 0;
			$(this).closest('tr').find('td').each(function () {
			    if (i > 1) {
				    line.push($(this).text());
			    }
			    i++;
			});

		        selected.push(line.join(';'));
		    });
			e.preventDefault();
console.log(selected);
			download('test.csv', selected.join("\r\n"));
			//location.href = url;
		});

		$(".heatmap").click(function(e) {
		    var selected = [];
		    $('.tree li.parent_li li input:checked').each(function() {
		        selected.push($(this).data('session-id'));
		    });
			e.preventDefault();
			location.href = '/sessions/heatmap/' + selected.join(',');
		});

		$(".del").click(function(e) {
		    var selected = [];
		    var names = [];
		    $('.tree li.parent_li li input:checked').each(function() {
			console.log($(this).data('session-id'));
		        selected.push($(this).data('session-id'));
		        names.push($(this).data('session-name'));
		    });
			e.preventDefault();



			var name = $(this).data('session-name');
			bootbox.confirm("Do you really want to delete: " + names.join(',') + "?", function(result) {
				if (result)
					$.ajax({url: "/sessions/" + selected.join(','), type: "DELETE"});
			});
		});

	});

</script>

