<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css">

<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/bootstrap-slider.min.js"></script>
<script src="/js/lib/bootbox.min.js"></script>

<script type="text/javascript" src="/js/lib/blockly_compressed.js"></script>
<script type="text/javascript" src="/js/lib/javascript_compressed.js"></script>
<script type="text/javascript" src="/js/lib/en_compressed.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/blocks/center.js"></script>
<script type="text/javascript" src="/js/blocks/distance.js"></script>
<script type="text/javascript" src="/js/blocks/experiment.js"></script>
<script type="text/javascript" src="/js/blocks/feeder.js"></script>
<script type="text/javascript" src="/js/blocks/light.js"></script>
<script type="text/javascript" src="/js/blocks/message.js"></script>
<script type="text/javascript" src="/js/blocks/motor_position.js"></script>
<script type="text/javascript" src="/js/blocks/out.js"></script>
<script type="text/javascript" src="/js/blocks/position.js"></script>
<script type="text/javascript" src="/js/blocks/projector.js"></script>
<script type="text/javascript" src="/js/blocks/robot.js"></script>
<script type="text/javascript" src="/js/blocks/rotatezone.js"></script>
<script type="text/javascript" src="/js/blocks/shock.js"></script>
<script type="text/javascript" src="/js/blocks/mp3.js"></script>
<script type="text/javascript" src="/js/blocks/sound.js"></script>
<script type="text/javascript" src="/js/blocks/sound_whitenoise.js"></script>
<script type="text/javascript" src="/js/blocks/sound_sinewave.js"></script>
<script type="text/javascript" src="/js/blocks/subject.js"></script>
<script type="text/javascript" src="/js/blocks/time.js"></script>
<script type="text/javascript" src="/js/blocks/turntable.js"></script>
<script type="text/javascript" src="/js/blocks/zone.js"></script>
<script type="text/javascript" src="/js/blocks/calibrate.js"></script>
<script type="text/javascript" src="/js/blocks/repeat.js"></script>

<script type="text/javascript" src="/js/lib/BlobBuilder.min.js"></script>
<script type="text/javascript" src="/js/lib/FileSaver.min.js"></script>

<script type="text/javascript" src="/js/arena.js"></script>
<script type="text/javascript" src="/js/blockly.js"></script>
<script type="text/javascript" src="/js/main.js"></script>