<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Arenomat</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/bootstrap-slider.min.js"></script>
<script src="/js/lib/bootbox.min.js"></script>
<script src="/js/lib/jquery.lazyload.min.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/arena.js"></script>
<script type="text/javascript" src="/js/analyze.js"></script>

	</head>		


	<body>
<script>
 if (!(typeof window.chrome === "object")) {
    alert("This software has been made for Chrome, looks like you're using another browser. Feel free to continue, but keep in mind that there is a pretty good chance that something won\'t work");
}
</script>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">AnalýzOmat</a>
		</div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav nav-tabs">
                                <li class="dropdown"><a href="#tanaldata" data-toggle="dropdown" class="dropdown-toggle">Data</a></li>
                                <li class="dropdown"><a href="#tanalsettings" data-toggle="dropdown" class="dropdown-toggle">Analyze</a></li>
			</ul>
		</div>
	</div>
</nav>

<!--
<div id="tanalyze" class="tab-pane fade">
        <img id="image" />
        <br />
        <input id="ex6" type="text" style="width: 640px" data-slider-min="1" data-slider-max="{{ frameCount }}" data-slider-step="1" data-slider-value="1" />
        <br />
        object 1 <span id="object_1">0,1</span><br />
        object 2 <span id="object_2">0,1</span><br />
        object 3 <span id="object_3">0,1</span><br />
        object 4 <span id="object_4">0,1</span><br />
        object 5 <span id="object_5">0,1</span><br />
        object 6 <span id="object_6">0,1</span><br />
        <div id="output"></div>
        <br />
        <br />
        <br />
</div>
-->
		{{{ yield }}}

		{{> foot }}
	</body>
</html>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h4>Login to ArénOmat</h4>
          </div>
          <div class="modal-body">
            <form method="post" action='/login' name="login_form">
              <p><input type="text" class="span3" name="email" id="email" placeholder="Email"></p>
              <p><input type="password" class="span3" name="password" placeholder="Password"></p>
              <p><button type="submit" class="btn btn-primary">Sign in</button>
              </p>
            </form>
          </div>
          <div class="modal-footer">
		If you forgot your credentials contact the administrator.
          </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

