<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ArénOmat</a>
    </div>
       <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tlogic">Logic</a></li>
                        <li><a data-toggle="tab" href="#tcamera">Camera</a></li>
                        <li><a data-toggle="tab" href="#tsettings">Settings</a></li>
                        <li>
                </ul>


            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"  id="shocking">.......</a></li>
             <li class="active"><a href="#" id="elapsedTime">.</a></li>

            </ul>
          </div><!--/.nav-collapse -->
</div>
</nav>
