<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ArénOmat</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav nav-tabs">

	    <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Experiment<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a id="codeLoad" href="/experiments" data-toggle="modal" data-target="#modal">Load</a></li>
                    <li><a href="#save" id="codeSave">Save</a></li>
                    <li class="divider"></li>
                    <li>
			<a href="#import" id="codeImport">Import</a>
                        <input type="file" id="import" style="display: none;"/>
		    </li>
                    <li><a href="#export" id="codeExport">Export</a></li>
                    <li class="divider"></li>
                    <li><a href="#clear" id="codeClear">Clear</a></li>
                </ul>
            </li>


				<li class="active"><a data-toggle="tab" href="#tlogic">Logic</a></li>
				<li><a data-toggle="tab" href="#tcamera">Camera</a></li>
				<li><a data-toggle="tab" href="#tanalyze">Analyze</a></li>
				<li><a data-toggle="tab" href="#tsettings">Settings</a></li>
			</ul>





			<ul class="nav navbar-nav navbar-right">
				<li class="active"><div style="padding: 8px"><a class="codeStart btn btn-success" title="Start the experiment" href="#"><i class="fa fa-play fa-lg"></i></a></div></li>
				<li class="active"><div style="padding: 8px"><a class="codeStop btn btn-danger" title="Stop the experiment" href="#"><i class="fa fa-stop fa-lg"></i></a></div></li>
			</ul>
            <ul class="nav navbar-nav">
				<li class="active"><a href="#"  id="isWebcam"><i class="fa fa-video-camera fa-lg"></i></a></li>
				<li class="active"><a href="#"  id="isArduino"><i class="fa fa-code-fork fa-lg"></i></a></li>
				<li class="active"><a href="#"  id="isShocking"><i class="fa fa-bolt fa-lg"></i><span>0.0mA</span></a></li>
				<li class="active"><a href="#" class="codeStop" id="elapsedTime">0s</a></li>
            </ul>

		</div>
	</div>
</nav>
