@import url(//fonts.googleapis.com/css?family=Leckerli+One);


html, body {
  height: 100%;
}

.navbar-brand {
	font-family: 'Leckerli One';
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	color: #428bca !important;
	text-shadow: 1px 1px #fff !important;
	&:hover {
		color: #51CA42 !important;
	}
}
.navbar-nav {
	border-bottom: none !important;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: white !important;
	color: black !important;
}

#zones {
    z-index: 10;
}
#arena {
    z-index: 6;
}
#webcam {
    z-index: 5;
}
#objects {
    z-index: 7;
}


.change {
    color: black;
}

.activeZone {
    color: #3276b1 !important;
}

#vision canvas {
    float: left;
    position: absolute;
}

.slider {
    width: 100% !important;
    height: 20px !important;
}
.slider-track {
    height: 20px !important;
}

.slider-selection {
    background: blue !important;
}